<div class="ui vertical footer segment">
  <div class="ui container">
    <span><%= Date.today.year %>, Rinae</span>
    <span style="float: right;"><a href="https://github.com/emaren84/heonchek-hunter">Source</a></span>
  </div>
</div>
