<div id="header" class="ui top fixed menu">
  <div class="ui container">
    <div id="title" class="item">헌책 헌터</div>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" name="book_name" placeholder="중고책 검색">
          <i id="search_button" class="circular search link icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
